<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple.spiderman">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <provider
            android:name=".SpiderManFileProvider"
            android:authorities="${applicationId}.spidermanfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/spiderman_file_paths" />
        </provider>

        <activity android:name=".CrashActivity" />

        <provider
            android:name=".SpiderManInitProvider"
            android:authorities="${applicationId}.spiderman-init-provider"
            android:exported="false"
            android:multiprocess="true" />

    </application>
</manifest>
