<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple.spiderman">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >
        <activity android:name=".CrashActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleInstance"
            >
        </activity>
    </application>
</manifest>
